<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Оськин Никита</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.9.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/static/img/Nik3.bmp.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Оськин Никита</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://t.me/V0ltar1ux" class="telegram"><i class="bx bxl-telegram"></i></a>
        <a href="https://instagram.com/os.nnkta" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://vk.com/voltar1ux" class="vkontakte"><i class="bx bxl-vk"></i></a>
        <a href="https://github.com/Nikita-Oskin" class="github"><i class="bx bxl-github"></i></a>
      </div>
    </div>

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i><span>Домой</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>О себе</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Резюме</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Портфолио</span></a></li>
        <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-chat"></i> <span>Отзывы</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Контакты</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Оськин Никита</h1>
    <p><span class="typed" data-typed-items="Студент второго курса СПбГУ, Мой первый сайт"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>О себе</h2>

        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/static/img/OskinNikita.jpg" class="img-fluid" alt="Оськин Никита">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Студент 2 курса.</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>День рождения:</strong> <span>10 февраля 2003</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Телефон:</strong> <span>+7 (981) 363-52-63</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Город:</strong> <span>Санкт-Петербург</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Возраст:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Образование:</strong> <span>Бакалавр</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Почта:</strong> <span>nik.oskin2003@gmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Навыки</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">C# <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Java <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Резюме</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Образование</h3>
            <div class="resume-item">
              <h4>Среднее общее образование</h4>
              <h5>2010 - 2021</h5>
              <p><em>Общеобразовательная школа №233, г. Ташкент</em></p>
            </div>
            <div class="resume-item">
              <h4>Бакалавриат</h4>
              <h5>2021 - 2025</h5>
              <p><em>Санкт-Петербургский Государственный Университет, математико-механический факультет</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">дополнительное образование</h3>
            <div class="resume-item">
              <a href="/static/img/web.png" class="portfolio-lightbox"><h4>веб-разработка для начинающих: html и
                css</h4></a>
              <h5>2022</h5>
              <p><em>stepik</em></p>
            </div>
            <div class="resume-item">
              <a href="/static/img/method.png" class="portfolio-lightbox"><h4>алгоритмы: теория и практика. методы</h4>
              </a>
              <h5>2022</h5>
              <p><em>stepik</em></p>
            </div>
            <div class="resume-item">
              <a href="/static/img/struct.png" class="portfolio-lightbox"><h4>алгоритмы: теория и практика. структуры
                данных</h4></a>
              <h5>2022</h5>
              <p><em>stepik</em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Портфолио</h2>
          <p>Место для будущих проектов</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/Screen1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="/static/img/portfolio/Screen1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Nikita-Osikn/HomeWork" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Отзывы</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {% for post in posts %}

          <div class="slide swiper-slide">
            <h3>{{ post.name }}</h3>
            <h4>{{ post.updated_on }}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ post.text }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

     <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Контакты</h2>
      </div>

      <div class="row mt-1">

        <div class="col-lg-4">
          <div class="info">
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>nik.oskin2003@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Телефон:</h4>
              <p>+7 (931) 363-52-63</p>
            </div>

          </div>

        </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <form action="{{ url_for('index') }}" method="POST" role="form">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" name="name" class="form-control"  placeholder="Ваше имя" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="text"  rows="5" placeholder="Ваш отзыв"
                            required></textarea>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary my-3" type="submit">Оставить отзыв</button>
                </div>
              </form>

            </div>

        </div>
    </div>
      </section><!-- End Contact Section -->
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>MyResume</span></strong>
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/vendor/typed.js/typed.min.js"></script>
<script src="static/vendor/waypoints/noframework.waypoints.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>

</body>

</html>